<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="true"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="abhi.plugin.cmdwin.commands.opencmdwin"
               label="Open Command Window Here"
               style="push">
               <visibleWhen checkEnabled="false">
               	<with variable ="activeMenuSelection">
               		<iterate ifEmpty="false" operator ="or">
               		<and>
	               		<or>
	               			<adapt type="org.eclipse.jdt.core.ICompilationUnit"/>
	               			<adapt type="org.eclipse.core.resources.IFolder"/>
	               			<adapt type="org.eclipse.core.resources.IFile"/>
	               			<adapt type="org.eclipse.core.resources.IProject"/>
	               			<adapt type="org.eclipse.core.resources.IWorkspaceRoot"/>
	               			<adapt type="org.eclipse.jdt.core.IJavaProject"/>
	               			<adapt type="org.eclipse.jdt.core.IPackageFragment"/>
	               			<adapt type="org.eclipse.jdt.core.IPackageFragmentRoot"/>
	               		</or>
	               		<not>
	               			<adapt type="org.eclipse.jdt.internal.core.JarPackageFragment"/>
	               		</not>
						<not>
							<adapt type="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer"/>
						</not>
               		
               		</and>
               		</iterate>
               	</with>
               </visibleWhen>
         </command>
         <command
               commandId="abhi.plugin.cmdwin.commands.openfolder"
               label="Open Folder"
               style="push">
               <visibleWhen checkEnabled="false">
               	<with variable ="activeMenuSelection">
               		<iterate ifEmpty="false" operator ="or">
               		<and>
	               		<or>
	               			<adapt type="org.eclipse.jdt.core.ICompilationUnit"/>
	               			<adapt type="org.eclipse.core.resources.IFolder"/>
	               			<adapt type="org.eclipse.core.resources.IFile"/>
	               			<adapt type="org.eclipse.core.resources.IProject"/>
	               			<adapt type="org.eclipse.core.resources.IWorkspaceRoot"/>
	               			<adapt type="org.eclipse.jdt.core.IJavaProject"/>
	               			<adapt type="org.eclipse.jdt.core.IPackageFragment"/>
	               			<adapt type="org.eclipse.jdt.core.IPackageFragmentRoot"/>
	               		</or>
						<not>
							<adapt type="org.eclipse.jdt.internal.core.JarPackageFragment"/>
						</not>
						<not>
							<adapt type="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer"/>
						</not>
               		
               		</and>
               		</iterate>
               	</with>
               </visibleWhen>
         </command>
         <command
               commandId="abhi.plugin.cmdwin.commands.copyabspath"
               label="Copy Path To ClipBoard"
               style="push">
               
               <visibleWhen checkEnabled="false">
               
               	<with variable ="activeMenuSelection">
               		<iterate ifEmpty="false" operator ="or">
               		<and>
	               		<or>
	               			<adapt type="org.eclipse.jdt.core.ICompilationUnit"/>
	               			<adapt type="org.eclipse.core.resources.IFolder"/>
	               			<adapt type="org.eclipse.core.resources.IFile"/>
	               			<adapt type="org.eclipse.core.resources.IProject"/>
	               			<adapt type="org.eclipse.core.resources.IWorkspaceRoot"/>
	               			<adapt type="org.eclipse.jdt.core.IJavaProject"/>
	               			<adapt type="org.eclipse.jdt.core.IPackageFragment"/>
	               			<adapt type="org.eclipse.jdt.core.IPackageFragmentRoot"/>
	               		</or>
						<not>
							<adapt type="org.eclipse.jdt.internal.core.JarPackageFragment"/>
						</not>
						<not>
							<adapt type="org.eclipse.jdt.internal.ui.packageview.ClassPathContainer"/>
						</not>
               		</and>
               		</iterate>
               	</with>
               	
               </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="abhi.plugin.cmdwin.OpenCmdWindowCommand"
            id="abhi.plugin.cmdwin.commands.opencmdwin"
            name="OpenCmdWindow">
      </command>
      <command
            defaultHandler="abhi.plugin.cmdwin.OpenCmdWindowCommand"
            id="abhi.plugin.cmdwin.commands.openfolder"
            name="OpenContainingFolder">
      </command>
      <command
            defaultHandler="abhi.plugin.cmdwin.CopyFilePathCommand"
            id="abhi.plugin.cmdwin.commands.copyabspath"
            name="CopyPathToClipBoard">
      </command>
   </extension>

</plugin>
